body {
	background-color: #d6dbed;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
	padding: 20px;
	background: #000;
	color: #fff;
	text-align: center;
}

.pie-pagina .grupo-1 .box figure img{
	width: 250px;
}
.pie-pagina .grupo-1 .box h2{
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
	color: #fff;
	margin-bottom: 25px;
}
.pie-pagina .grupo-1 .redess a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	transition: all 300ms ease;
}
.pie-pagina .grupo-1 .redess a:hover{
	color: #0972ac;
}
.pie-pagina .grupo-2{
background-color: #0a1a2a;
padding: 15px 10px;
text-align: center;
color: #fff;
}
.pie-pagina .grupo-3 small{
	font-size: 15px;
}
@media screen and (max-width:800px){
	.pie-pagina .grupo-1{
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	padding: 35px 0px;
}
}
.card-body{
	background-color: #091f31;
	color: #fff;
}
.card-body h5{
	text-align: center;
}
.card-body a{
	text-decoration: none;
	transition: all 300ms ease;
}
.cabe{
	background: #091f31;
	color:  #fff;
	text-align: center;
	padding:  10px ;
}
.accordion .card-header{
	background: #103352;
}
.accordion .btn{
	color:  #fff;
}
.accordion .card-body{
	background: #2c4355 ;
}

.carousel-item > img {
	height: 500px;
}

.d-block{
		width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
		height: auto; /* Mantiene la proporción original de la imagen */
		object-fit: cover; /* Opcional: cubre el área del contenedor sin distorsionar */
}

.contacarru{
	margin-top:0rem;
}

.container{
	width: 100%;
}
.dropdown-item{
	font-weight: 1000;
	align-items: center;
}

/*#4CAF50;

